#printButton {
  background: #79b800;
  color: #fff;
  
  font-weight: 700;
  font-size: 16px;

  padding: 10px;
  
  border: none;
  border-radius: 0 .75rem .75rem 0;
  
  z-index: 10;
  bottom: 25px;
  position: fixed;
  box-shadow: 0 3px 30px rgba(0, 0, 0, .1), 0 3px 20px rgba(0, 0, 0, .1);

  cursor: pointer;
}

#printButton:hover {
  background: #a64ad1;
}

#printButton span {
  font-size: 14px;
}

@media only screen and (max-width: 991px) {
  #printButton {
    top: 15px;
    bottom: unset;
  }
  #printButton i {
    font-size: 30px;
  }
  #printButton span {
    display: none;
  }
}

.note-content {
  width: auto;
  color: #333;
  display: block;
  margin: 20px 20px 0;
  border: 1px solid #EBE6DE;

  page-break-inside:avoid;
}

.note-content h4 {
  background-color: #f5f6fa;
  margin: 0;
  padding: 10px 15px;
}

.note-content ul {
  list-style: number;
  margin: 0;
  padding: 15px 15px 15px 30px;
}

.note-content ul li {
  font-size: 14px;
  padding-bottom: 14px;
}

.note-content ul li:last-child {
  padding-bottom: 0;
}

body {
  font-family: "Nunito-Regular", "Arial", "Helvetica", sans-serif;
  margin: 0;
  font-size: 16px;
}

.sheet-outer {
  margin: 0;
}

.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

.sheet-outer.A4 .sheet {
  width: 210mm;
  position: relative;
}

.sheet.padding-5mm {
  padding: 5mm;
}

.page-header-space {
  /* min-height: 250px; */
  /* height: 250px; */
  max-height: 280px;
  /* margin-bottom: 15px; */
  /* padding-bottom: 15px; */
}

.page-header-space div {
  opacity: 0;
}

.page-header {
  position: absolute;
  top: 0mm;
  width: 100%;
  margin: 0 -19px;
}


.page-footer-space {
  height: 120px;
}

.page-footer-space img {
  width: 100%;
  height: auto;

  bottom: 0;
  left: 0;
  position: absolute;
}

/* .page-footer-bg {
  background: url('https://storage.googleapis.com/muslimpergi/uploads/gallery/pict/5989/image.webp');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 65px;
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  page-break-after: always;
} */

.img-logo {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-logo img {
  height: 40px;
}

.title-sheet {
  width: 85%;
  margin: 20px auto 0;
  text-align: center;
}

.title-sheet h3 {
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.title-sheet p {
  color: #333;
  margin: 0;
}

.table-sheet {
  width: 100%;
  padding: 0 20px;
  border-spacing: 0;
  border: none;
}

.table-sheet thead {
  background-color: #bfbfbf;
}

.table-sheet thead tr td {
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.table-sheet tbody tr {
  background-color: #e8f2dd;
  page-break-inside: avoid;
}

.table-sheet tbody tr:nth-child(even) {
  background-color: #e7deea;
}

.table-sheet tbody tr td:first-child {
  text-align: center;
}

.table-sheet tbody tr td:first-child span {
  font-size: 14px;
  font-weight: 600;
}

.table-sheet tbody tr td:last-child {
  font-size: 14px;
  padding: 15px;
}

.table-sheet tbody tr td:last-child span ul {
  padding-left: 20px;
  margin: 10px 0;
}

.table-sheet tbody tr td:last-child span ul:last-child {
  margin-bottom: 0;
}

@media screen {
  body {
    background: #e0e0e0;
  }

  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
    margin: 5mm auto 0;
  }
}

@page {
  size: A4;
  margin: 0;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media print {
  #printButton {
    opacity: 0;
  }

  @page {
    size: A4;
  }

  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }

  .page-header {
    position: fixed;
  }

  .page-header-space div {
    opacity: 0;
  }

  /* .page-footer-bg {
    background: url('https://storage.googleapis.com/muslimpergi/uploads/gallery/pict/5989/image.webp');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    height: 65px;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed; 
    page-break-after: always;
  } */

  .page-footer-space img {
    margin: 0 -19px;

    width: 100vw;
    bottom: -60px;
    position: relative;
  }

  .sheet {
    margin: 0;
  }
  
  .sheet-outer.A4 {
    width: 210mm;
  }
}